# Ignore the virtual environment
/venv/
/backend/venv/
/service.json

# Node.js dependencies (if you have frontend using npm/yarn)
frontend/node_modules/

# Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/

# macOS Finder files
.DS_Store

# VS Code settings (if you're using Visual Studio Code)
.vscode/

# Logs
*.log

# Operating system files
Thumbs.db
Desktop.ini

# Backend - Ignore other things specific to backend
/backend/__pycache__

# Ignore any build files or distribution files for the frontend
frontend/dist/
/frontend/build/

# Ignore IDE and editor-specific files
.idea/
*.sublime-workspace
*.sublime-project
